<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22474794123-t00d6b3llj2duf4lpfen2begl0kj20cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22474794123-t00d6b3llj2duf4lpfen2begl0kj20cc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>22474794123-pqfqt7qcvo9e11a6mjin9f3fhndejmdb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA17CQz5Es7mAmGCCc16zijDgk91rGFrQk</string>
	<key>GCM_SENDER_ID</key>
	<string>22474794123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Gija</string>
	<key>PROJECT_ID</key>
	<string>habittracker-e2a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-e2a5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22474794123:ios:d1db4ff428664c232fe08e</string>
</dict>
</plist>